
.Translator {
  display: inline-block;
  width: 100%;
}

.Input-text {
  display: inline-block;
  float: left;
  margin: 10px 10px;  
  width:48%;
}

.Input-text__area {
  font-size: 24px;
  min-width: 95%;
  min-height: 134px;
  height: auto;
  padding: 10px;  
}

.Output-text {
  display: inline-block;
  float: left;
  margin: 10px 10px; 
  width:48%;
}

.Output-text__container {
  display: inline-block;  
  background: whitesmoke;
  min-height: 136px;
  width: 95%;
  text-align: left;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 5px;
}
